diffs/

# Ignore object files
*.o

# Ignore executables
*.exe
*.out
a.out

# Ignore temporary files
*~
*.tmp
*.swp
*.swo

# Ignore generated build directories
/build/
/bin/*
!/bin/*.c
/obj/
/dist/
/release/
compile_commands.json
# Generated Mach headers
localmach/

# Ignore offline package archives
offline_packages/*.deb

# Ignore archived source tarballs
*.tar.gz


.fake